@if (this.Inventory is not null)
{
    <tr>
        <td>@Inventory.Name</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price.ToString("c")</td>
        <td>
            <a class="btn btn-light"
               href="/editInventory/@Inventory.Id">
                Edit
            </a>
        </td>
    </tr>
}

@code {
    [Parameter]
    public Inventory? Inventory { get; set; }
}
